<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="63938NuthatchProductions.KraigBrockschmidt" Publisher="CN=B6630909-91E3-4ADA-9A09-80A174B59D9F" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Kraig Brockschmidt</DisplayName>
    <PublisherDisplayName>Nuthatch Productions</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="kraigb.App">
      <VisualElements DisplayName="Kraig Brockschmidt" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A reader for Kraig Brockschmidt's Blog" ForegroundText="dark" BackgroundColor="#FFFFFF" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="Kraig Brockschmidt" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>